{% extends "base.html.twig" %}
{% block container %}
	<div class="container">    
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Favor</div>
                </div>

                <div class="panel-body">
                    <div class="col-md-12">
                        
                        <div class="col-md-9">
                            <h3>{{ favor.titulo }}</h3>
                        </div>

                        <!-- Postularse -->

                        {% if favor.usuarioId != user.id %}
                            <div class="col-md-1">    
                                <br>                                
                                <div class="col-md-offset-3 col-md-3">
                                    <form  role="form" method="POST" action="./?action=postularse">
                                        <input type="hidden" name="idFavor" value="{{ favor.id }}">
                                        <input id="btn-signup" class="btn btn-success" type="submit" value="POSTULARSE!">
                                    </form>
                                </div>   
                            </div>
                        {% endif %}
                        <!-- Fin Postularse --> 

                        <!-- Detalle publicacion --> 
                        <br><br>
                        <hr />
                        <div class="col-md-9">
                            <dl class="dl-horizontal">

                                <dt> Descripcion </dt>
                                <dd> {{ favor.descripcion }} </dd>
                                
                                <br>
                                <dt> Localidad </dt>
                                <dd> {{ favor.localidad }} </dd>

                                <br>
                                <dt> Categoria </dt>
                                <dd> {{ categoria.nombre }} </dd>

                                <br>
                                <dt> Fecha de publicacion </dt>
                                <dd> {{ favor.fechaPublicacion | date("d/m/Y") }} </dd>

                                <br>
                                <dt> Usuario </dt>
                                <dd> {{ userFavor.nombre }} </dd>


                            </dl>
                        </div> <!-- Fin Detalle publicacion -->
                    </div> <!-- Panel body -->
                    
                   
                    <div class="row"> <!-- Imagenes -->
                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                            <img src="./imagenes/default.png" class="img-responsive">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                            <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                            <img src="./imagenes/default.jpg" class="img-responsive">
                        </div>
                    </div>  <!-- Imagenes -->
                    
                    <br>

                    <!-- Formulario comentario inicio -->
                    {% if favor.usuarioId != user.id %}
                        <form id="signupform" class="form-horizontal" role="form" method="POST" action="./?action=comentarFavor">
                            <hr />
                            <div class="form-group">
                                <input type="hidden" name="idFavor" value="{{favor.id}}"> {# obtengo el id del favor#}
                                <label for="comentario" class="col-md-3 control-label">Comentar</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" name="comentario" required> </textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input id="btn-signup" class="btn btn-info" type="submit" value="Enviar comentario"> 
                            </div>
                        </form>
                    {% endif %}
                    <!-- Formulario comentario fin -->

                    <!-- Mostrar comentarios inicio-->
                    {% if comentarios %}
                        <h3>Comentarios</h3>
                        <hr>
                        {% for comentario in comentarios %}
                            <!-- COMENTARIO -->    
                            <div class="col-sm-12">
                                <div class="panel panel-default">

                                     <!-- PREGUNTA -->
                                    <div class="panel-heading">
                                        <strong>{{comentario.nombreUsuario}}</strong> <span class="text-muted">comento el dia {{ comentario.fecha | date("d/m/Y H:i:s") }}</span>
                                    </div>               
                                    <div class="panel-body">{{comentario.comentario}}</div><!-- /panel-body -->
                                
                                    <!-- RESPUESTA -->    
                                    {% if comentario.respuesta %}
                                        <div class="col-sm-9">
                                            <br>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong>{{ userFavor.nombre }}</strong> <span class="text-muted">respondio el dia {{ comentario.fecha | date("d/m/Y H:i:s") }}</span>
                                                </div>
                                            
                                                <div class="panel-body">
                                                    {{comentario.respuesta}}
                                                </div><!-- /panel-body -->
                                            </div><!-- /panel panel-default -->
                                        </div><!-- /col-sm-9 -->
                                    {% elseif favor.usuarioId == user.id  %}
                                        <div class="col-sm-9">
                                            <form role="form" method="POST" action="./?action=responderComentario">
                                                <input type="hidden" name="idFavor" value="{{favor.id}}"> {# obtengo el id del favor#}
                                                <input type="hidden" name="idComentario" value="{{comentario.id}}"> {# obtengo el id del favor#}
                                                <br>
                                                <label for="respuesta" class="col-md-3 control-label">Responder: </label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" name="respuesta" required> </textarea>
                                                    <br>
                                                    <input id="btn-signup" class="btn btn-info" type="submit" value="Enviar respuesta">
                                                    <br><br> 
                                                </div>
                                            </form>
                                        </div> 
                                    {% endif %}
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-12 -->
                        {% endfor %}
                        <hr>
                    {% endif %}
                    <!-- FIN COMENTARIO -->             
                </div>
            </div>
        </div>
    </div>
{% endblock %}