{% extends "base.html.twig" %}
{% block container %} 

<div class="container">    
    {% if favores %}
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-12">
            <div class="panel panel-info">
                <div class="col-md-9">
                    <h3> Mis postulaciones</h3>
                    <hr>
                </div>         

            <div class="panel-body"> 
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Titulo</th>
                            <th>Localidad</th>
                            <th>Fecha publicacion</th>
                            <th>Estado</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for favor in favores %}
                        <tbody>
                            <tr>
                                <td><img style=" width: 110px; height: 50px;" id="img" class="img-rounded" {% if favor.imagen == '' %} src="imagenes/default.png" {% else %} src="imagenes/{{ favor.imagen }}"{% endif %} alt="default" /></td>
                                <td>{{ favor.titulo }}</td>
                                <td>{{ favor.localidad }}</td>
                                <td>{{ favor.fecha_publicacion }}</td>
                                <td>{% if favor.estado == 'A' %} Abierto {% elseif favor.estado == 'C' %} Cerrado {% else %} Finalizado {% endif %}</td>
                                {% if favor.estado == 'C' %}
                                    <td>
                                    {% if favor.idUsuarioAceptado == user.id %}
                                        <strong style="color: green;"> Aceptado </strong>
                                    {% else %}
                                        <strong style="color: red;"> No has sido seleccionado </strong>
                                    {% endif %}
                                    </td>
                                {% else %}


                                <td>
                                    <a href="./?action=verDetalle&id={{ favor.id }}"> <input style="width: 120px; float: right;" type="sumbit" class="btn btn-info" name="Ver Detalle" value="Ver Detalle"> </a></td>
                                <td>
                                    <form onclick="return confirm('Esta seguro de que quiere cancelar esta postulacion?')" role="form" method="POST" action="./?action=cancelarPostulacion">
                                        <input type="hidden" name="idFavor" value="{{ favor.id }}">
                                        <input type="hidden" name="from" value="misPostulaciones">
                                        <input style="padding: 5px 30px 7px 30px;" id="btn-signup" class="btn btn-danger" type="submit" value="Cancelar">
                                    </form>
                                </td>

                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
     <div id="signupbox" style="margin-top:50px" class="mainbox col-md-12">
        <div class="panel panel-info">
            <div class="col-md-9">
                <h3> No tienes postulaciones</h3>
                <hr>
            </div>        
            <div class="panel-body"> 
            </div>
        </div>
    </div>
    {% endif %}
    </div>


{% endblock %}