{% extends "base.html.twig" %}
{% block container %} 

    <div style="margin-top:50px">

        <div class="panel panel-info">
        <form role="form" method="POST" action="./?action=reporteGanancias">
            <div class="col-md-12">
            <h3> Reporte de ganancias entre dos fechas </h3>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="fechaInicial">Fecha inicial:</label>
                      <input type="date" class="form-control" id="fechaInicial" name="fechaInicial" value="{{ fechaInicial}}">
                    </div>
                </div>
                <div class="col-md-6">    
                    <div class="form-group">
                      <label for="fechaFinal">Fecha final:</label>
                      <input type="date" class="form-control" id="fechaFinal" name="fechaFinal" value="{{fechaFinal }}">
                    </div>
                </div>
            
            </div>
            <div class="col-md-12">
                <div class="col-md-12">    
                        
                        <button type="submit" class="btn btn-primary" id="generarReporte" style="float: right;">Generar reporte</button>

                </div>      
            </div>    
            <br>
            <br>

                
        </form>
        <div class="panel-body"> 
            <table class="table table-hover col-md-12">
                <thead>
                    <tr>  
                        <th><center>Nombre</center></th>
                        <th><center>Apellido</center></th>
                        <th><center>Email</center></th>   
                        <th><center>Fecha</center></th>  
                        <th><center>Cantidad de creditos vendidos</center></th>
                        <th><center>Total recaudado ($ ARS)</center></th>     
                    </tr>
                </thead>
                
                    <tbody>
                    {% for reporte in reporteGanancias %}
                        <tr>
                            <td><center>{{ reporte.nombre }}</center></td>
                            <td><center>{{ reporte.apellido }}</center></td>
                            <td><center>{{ reporte.email }}</center></td>
                            <td><center>{{ reporte.fecha }}</center></td>
                            <td><center>{{ reporte.creditosVendidos }}</center></td>
                            <td><center> {{ reporte.totalRecaudado }}</center></td>                    
                        </tr>
                    {% endfor %}
                    </tbody>
                
            </table>
        </div>
    </div>
</div>

{% endblock %}