<div class="container">    
    <div style="padding-left: 0px;" class="mainbox col-md-11">
        <div class="panel panel-info">

            <div class="panel-body"> 
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Titulo</th>
                            <th>Localidad</th>
                            <th>Fecha publicacion</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for favor in favores %}
                        <tbody>
                            <tr>
                                <td><img style=" width: 120px; height: 60px; object-fit: contain;" id="img" class="img-rounded" {% if favor.imagen == '' %} src="imagenes/default.png" {% else %} src="imagenes/{{ favor.imagen }}"{% endif %} alt="default" /></td>
                                <td>{{ favor.titulo }}</td>
                                <td>{{ favor.localidad }}</td>
                                <td>{{ favor.fecha }}</td>
                                <td><a href="./?action=verDetalle&id={{ favor.favorId }}"> Ver </a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>
                            