{% extends "base.html.twig" %}
{% block container %} 

<div class="container">    
    {% if postulantes %}
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-12">
            <div class="panel panel-info">
                <div class="col-md-12">
                    <h3> Postulantes </h3>
                    <hr>
                </div>         

            <div class="panel-body"> 
                <table class="table table-sm col-md-12">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Ranking</th>
                            <th>Comentario</th>
                            <th>Localidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for postulante in postulantes %}
                        <tbody>
                            <tr>
                                <td> {{ postulante.nombre }} </td>
                                <td> unRanking </td>
                                <td> {{ postulante.comentario }} </td>
                                <td> {% if postulante.localidad %} {{ postulante.localidad}} {% else %} Desconocida {% endif %}</td>
                                <td> {% if favor.estado == 'C'%}
                                        {% if postulante.estado == 'A' %}
                                            <form method="POST" action="./?action=calificarPostulante">
                                                <input type="hidden" name="idPostulante" value="{{ postulante.idUsuario }}">
                                                <input type="hidden" name="idFavor" value="{{ favor.id }}">
                                                <input class="btn btn-success" type="submit" value="Calificar">
                                            </form>
                                        {% endif %}
                                    {% else %}
                                    <form onclick="return confirm('Esta seguro de que quiere aceptar este postulante?')" method="POST" action="./?action=aceptarPostulante">
                                        <input type="hidden" name="idPostulante" value="{{ postulante.idUsuario }}">
                                        <input type="hidden" name="idFavor" value="{{ favor.id }}">
                                        <input class="btn btn-success" type="submit" value="Aceptar">
                                    </form>
                                     {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
     <div id="signupbox" style="margin-top:50px" class="mainbox col-md-12">
        <div class="panel panel-info">
            <div class="col-md-9">
                <h3> Aun no hay postulantes </h3>
                <hr>
            </div>        
            <div class="panel-body"> 
            </div>
        </div>
    </div>
    {% endif %}
    </div>

{% endblock %}